# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
# Unix-style newlines with a newline ending every file
indent_style = space
charset = utf-8
end_of_line = lf
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

# Spell checker configuration
spelling_exclusion_path = .\.spellcheckignore

# JSON files
[*.{json,yaml,yml}]
indent_size = 2

# Xml files
[*.xml]
indent_size = 2

# Terraform files
[*.{tf,tfvars,hcl}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# Java files
[*.{java}]
# Indentation and spacing
indent_size = 4
tab_width = 4

[Makefile]
tab_width = 2
indent_style = tab
